<% var language_tabs = page.language_tabs || false %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= page.title || "API Documentation" %></title>

    <link rel="apple-touch-icon" sizes="57x57" href="https://mailshake.com/assets/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://mailshake.com/assets/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://mailshake.com/assets/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://mailshake.com/assets/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://mailshake.com/assets/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://mailshake.com/assets/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://mailshake.com/assets/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://mailshake.com/assets/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://mailshake.com/assets/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="https://mailshake.com/assets/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://mailshake.com/assets/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://mailshake.com/assets/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://mailshake.com/assets/icon/favicon-16x16.png">
    <link rel="manifest" href="https://mailshake.com/assets/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://mailshake.com/assets/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <%- css('css/style') %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <%- js([
      'js/lib/energize',
      'js/lib/imagesloaded.min',
      'js/lib/jquery_ui',
      'js/lib/jquery.highlight',
      'js/lib/jquery.tocify.js',
      'js/lib/lunr'
    ]) %>
    <%- js('js/script') %>

    <% if (language_tabs){ %>
      <script>
        $(function() {
            setupLanguages(<%- JSON.stringify(language_tabs) %>);
        });
      </script>
    <% } %>
  </head>

  <body class="">
    <a href="#" id="nav-button">
      <span>
        NAV
        <%- image_tag('images/navbar.png') %>
      </span>
    </a>
    <div class="tocify-wrapper">
      <div class="logo-wrapper">
        <%- image_tag('images/logo.png') %>
        <label>API</label>
      </div>
      <% if (language_tabs){ %>
        <div class="lang-selector">
          <% for( var lang in language_tabs){ %>
            <% if (typeof(language_tabs[lang]) === 'string') { %>
              <a href="#" data-language-name="<%= language_tabs[lang] %>"><%= language_tabs[lang] %></a>
            <% } else { %>
              <a href="#" data-language-name="<%= Object.keys(language_tabs[lang])[0] %>"><%= language_tabs[lang][Object.keys(language_tabs[lang])[0]] %></a>
            <% } %>
          <% } %>
        </div>
      <% } %>
      <% if (page.search) { %>
        <div class="search">
          <input type="text" class="search" id="input-search" placeholder="Search">
        </div>
        <ul class="search-results"></ul>
      <% } %>
      <div id="toc">
      </div>
      <% if (page.toc_footers){ %>
        <ul class="toc-footer">
          <% for( var link in page.toc_footers){ %>
              <li><%- page.toc_footers[link] %></li>
          <% } %>
        </ul>
      <% } %>
    </div>
    <div class="page-wrapper">
      <div class="dark-box"></div>
      <div class="content">
        <%- page.content %>
        <% if( page.includes ){ %>
          <% for( var include in page.includes ) { %>
              <%- markdown( read(page.includes[include]) ) %>
          <% } %>
        <% } %>
      </div>
      <div class="dark-box">
        <% if (language_tabs){ %>
          <div class="lang-selector">
            <% for( var lang in language_tabs){ %>
              <% if (typeof(language_tabs[lang]) === 'string') { %>
                <a href="#" data-language-name="<%= language_tabs[lang] %>"><%= language_tabs[lang] %></a>
              <% } else { %>
                <a href="#" data-language-name="<%= Object.keys(language_tabs[lang])[0] %>"><%= language_tabs[lang][Object.keys(language_tabs[lang])[0]] %></a>
              <% } %>
            <% } %>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
